//background-colors
$body-bg: #eaf0f7;
$brand-bg: #e50046;
$white-bg: #ffffff;
$primary-bg: #2f3848;
$green-bg: #60ce7a;
$gray-bg: #7f7f7f;
$lightgray-bg: #f1f5fa;
$teal-bg: #36bebc;
$letgreen-bg: #9dba4c;
$skyblue-bg: #dbf0fd;
$lightblue-bg: #0080bb;
$silver-bg: #e8e9ec;
$primary-assets: #68788a;
$orange-bg: #f9cb40;
$grid-header-bg:#fafafc;
//text-colors
$text-primary: #484e5d;
$text-secondary: #696d77;
$text-muted: #828aa0;
$black: #000000;
$text-green: #35b7b6;
$text-white: #ffffff;
$text-gray: #949494;
$text-lightgray: #b5b5b5;
$text-teal: #35b7b6;
$text-red: #e50046;
$text-blue: blue;
$icon-color:#A5ABB9;
$grid-font-color:#374664;
////borders-colors
$border-lightgray: #e2e6ee;
$border-mediumgray: #d4d8e1;
$border-darkgray: #b6bac4;
$border-white: #fff;
$border-darkestgray: #7f7f7f;
$border-skyblue: #c5dff0;
$border-green: #23b344;
$border-red: #e50046;
$border-silver: #e8e9ec;
$border-assets: #68788a;
$border-grid: #edeff6;
